<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
                    <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>About</title>
</head>
<body>
<nav class="navbar navbar-inverse" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UTextUtils</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <h1 style="color:green;">About</h1>
    <p ><pre style="font-size:30px; font-weight:italic; color:blue;">
    By Using this website we can modify our text according
    to our need.It can Remove Punctuation from text and
    change it in Upper Case or Lower Case. It can also
    Remove New Lines and extra spaces from text.
    We can perform one or more operations simultaneously.
    This Website is Created on 17 March 2020.
    It is created by using Html,Bootstrap,Python,Django.</pre></p>
</div>
</body>
</html>